<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BrowserActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ScanQRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BookmarkActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HomeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="facebook.com" />
                <data android:host="m.facebook.com" />
                <data android:host="www.facebook.com" />
                <data android:host="google.com" />
                <data android:host="m.google.com" />
                <data android:host="www.google.com" />
                <data android:host="drive.google.com" />
                <data android:host="m.drive.google.com" />
                <data android:host="www.drive.google.com" />
                <data android:host="youtube.com" />
                <data android:host="m.youtube.com" />
                <data android:host="www.youtube.com" />
                <data android:host="instagram.com" />
                <data android:host="m.instagram.com" />
                <data android:host="www.instagram.com" />
                <data android:host="twitter.com" />
                <data android:host="m.twitter.com" />
                <data android:host="www.twitter.com" />
                <data android:host="m.linkedin.com" />
                <data android:host="www.linkedin.com" />
            </intent-filter>
        </activity>
    </application>

</manifest>